#notice= notice
%div.container-fluid
  %div.row-fluid
    %div.span12
      %center
        %h2= @post.title
        - @post.images.count.times do |i|
          = image_tag @post.images[i-1].picture.url(:thumb)
        %p= @post.description
%hr
%footer
  %p &copy; TZ 2014